Repository italia/daf-ontologie-vocabolari-controllati: changes, and which pre-commit hooks are due for each by the changed paths.
All: jsonschema, onto-pyshacl, onto-latest, vocab-pyshacl

.pre-commit-config.yaml:

#
# Run pre-commit hooks. You can run them without installing
#  the hook with
#
# $ pre-commit run --all-files
#
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    # -   id: trailing-whitespace
    # -   id: end-of-file-fixer
    -   id: check-yaml
        args: [--allow-multiple-documents]
    -   id: check-added-large-files
        args:
        - "--maxkb=4000"
- repo: https://github.com/myint/autoflake
  rev: v1.4
  hooks:
    - id: autoflake
      args:
        - --in-place
        - --remove-unused-variables
        - --remove-all-unused-imports
-   repo: https://github.com/psf/black
    rev: 21.12b0
    hooks:
    -   id: black
- repo: https://github.com/pycqa/isort
  rev: 5.10.1
  hooks:
    - id: isort
      name: isort (python)
      # Use black profile for isort to avoid conflicts
      #   see https://github.com/PyCQA/isort/issues/1518
      args: ["--profile", "black"]
    - id: isort
      name: isort (cython)
      types: [cython]
    - id: isort
      name: isort (pyi)
      types: [pyi]
- repo: https://gitlab.com/pycqa/flake8
  rev: 3.9.2
  hooks:
  - id: flake8
- repo: https://github.com/Lucas-C/pre-commit-hooks-safety
  rev: v1.2.2
  hooks:
    - id: python-safety-dependencies-check
- repo: local
  hooks:
  - id: jsonschema
    name: jsonschema
    entry: python -m dati_playground validate --validate-jsonschema=true
    files: '.*\.schema.yaml'
    language: python
    types:
    - file
    additional_dependencies:
    - git+https://github.com/ioggstream/json-semantic-playground.git
  - id: onto-pyshacl
    name: pyshacl ontologies
    entry: python -m dati_playground validate --validate-shacl=true
    exclude: >-
      .*(-aligns|-DBGT|example).*
    files: >-
      ^Ontologie\/[^/]+\/latest/.*\.ttl
    types:
    - file
    language: python
    additional_dependencies:
    - git+https://github.com/ioggstream/json-semantic-playground.git
  - id: onto-latest
    name: Ontologies latest validator
    entry: python -m dati_playground validate --validate-versioned-directory=true
    exclude: >-
      .*(-aligns|-DBGT|example).*
    files: >-
      ^Ontologie\/.*\.ttl
    language: python
    types:
    - file
    additional_dependencies:
    - git+https://github.com/ioggstream/json-semantic-playground.git
  - id: vocab-pyshacl
    name: pyshacl vocabularies
    entry: python -m dati_playground validate --validate-shacl=true
    files:
      ^VocabolariControllati\/.*\.ttl
    language: python
    types:
    - file
    additional_dependencies:
    - git+https://github.com/ioggstream/json-semantic-playground.git

fix accessurl
  Ontologie/ACCO/latest/ACCO-AP_IT.ttl
  Ontologie/ADMS/latest/ADMS-AP_IT.ttl
  Ontologie/AccessCondition/latest/AccessCondition-AP_IT.ttl
  Ontologie/AtlasOfPaths/latest/AtlasOfPaths-AP_IT.ttl
  Ontologie/CLV/latest/CLV-AP_IT.ttl
  Ontologie/COV/latest/COV-AP_IT.ttl
  Ontologie/CPEV/latest/CPEV-AP_IT.ttl
  Ontologie/CPV/latest/CPV-AP_IT.ttl
  Ontologie/Cultural-ON/latest/Cultural-ON-AP_IT.ttl
  Ontologie/CulturalHeritage/latest/CulturalHeritage-AP_IT.ttl
  Ontologie/FULL/latest/FULL-AP_IT.ttl
  Ontologie/Indicator/latest/Indicator-AP_IT.ttl
  Ontologie/IoT/latest/IoT-AP_IT.ttl
  Ontologie/Language/latest/Language-AP_IT.ttl
  Ontologie/MU/latest/MU-AP_IT.ttl
  Ontologie/NDC/latest/NDC-AP_IT.ttl
  Ontologie/PARK/latest/PARK-AP_IT.ttl
  Ontologie/POI/latest/POI-AP_IT.ttl
  Ontologie/POT/latest/POT-AP_IT.ttl
  Ontologie/Project/latest/Project-AP_IT.ttl
  Ontologie/PublicContract/latest/PublicContract-AP_IT.ttl
  Ontologie/RO/latest/RO-AP_IT.ttl
  Ontologie/Route/latest/Route-AP_IT.ttl
  Ontologie/SM/latest/SM-AP_IT.ttl
  Ontologie/TI/latest/TI-AP_IT.ttl
  Ontologie/Transparency/latest/Transparency-AP_IT.ttl
  Ontologie/l0/latest/l0-AP_IT.ttl
Due: onto-pyshacl, onto-latest

align latest
  Ontologie/ACCO/v0.4/ACCO-AP_IT.ttl
  Ontologie/ADMS/v0.1/ADMS-AP_IT.ttl
  Ontologie/AccessCondition/v0.1/AccessCondition-AP_IT.ttl
  Ontologie/AtlasOfPaths/v0.3/AtlasOfPaths-AP_IT.ttl
  Ontologie/CLV/v1.0/CLV-AP_IT.ttl
  Ontologie/COV/v0.12/COV-AP_IT.ttl
  Ontologie/CPEV/v0.4/CPEV-AP_IT.ttl
  Ontologie/CPV/v0.7/CPV-AP_IT.ttl
  Ontologie/Cultural-ON/v3.2/Cultural-ON-AP_IT.ttl
  Ontologie/CulturalHeritage/v0.1/CulturalHeritage-AP_IT.ttl
  Ontologie/FULL/v0.8/FULL-AP_IT.ttl
  Ontologie/Indicator/v0.1/Indicator-AP_IT.ttl
  Ontologie/IoT/v1.1/IoT-AP_IT.ttl
  Ontologie/Language/v0.1/Language-AP_IT.ttl
  Ontologie/MU/v0.4/MU-AP_IT.ttl
  Ontologie/NDC/0.1/NDC-AP_IT.ttl
  Ontologie/PARK/v0.3/PARK-AP_IT.ttl
  Ontologie/POI/v0.3/POI-AP_IT.ttl
  Ontologie/POT/v0.3/POT-AP_IT.ttl
  Ontologie/Project/v0.3/Project-AP_IT.ttl
  Ontologie/PublicContract/v0.4/PublicContract-AP_IT.ttl
  Ontologie/RO/v0.3/RO-AP_IT.ttl
  Ontologie/Route/v0.2/Route-AP_IT.ttl
  Ontologie/SM/v0.7/SM-AP_IT.ttl
  Ontologie/TI/v0.8/TI-AP_IT.ttl
  Ontologie/Transparency/v0.2/Transparency-AP_IT.ttl
  Ontologie/l0/v0.8/l0-AP_IT.ttl
  VocabolariControllati/classifications-for-culture/subject-disciplines/subject-disciplines.ttl
  VocabolariControllati/classifications-for-documents/municipal-notice-board/municipal-notice-board.ttl
  VocabolariControllati/classifications-for-her/erc-panel-h2020-fp/erc-panel-h2020-fp.csv
  VocabolariControllati/classifications-for-universities/academic-disciplines/academic-disciplines.ttl
Due: onto-latest, vocab-pyshacl

Add CSV validation.
  .github/workflows/ci-onto.yaml
  .github/workflows/ci-vocab.yaml
  .pre-commit-config.yaml
Due: none

Fix vocabs
  .pre-commit-config.yaml
  VocabolariControllati/classifications-for-indicators/indicator-types/indicator-types.ttl
  VocabolariControllati/classifications-for-transparency/transparency-obligation/transparency-obligation.ttl
Due: vocab-pyshacl

Add CSV checks.
  .github/workflows/ci-onto.yaml
  .github/workflows/ci-vocab.yaml
  .pre-commit-config.yaml
Due: none

Add CSV checks. (#175)
  .github/workflows/ci-onto.yaml
  .github/workflows/ci-vocab.yaml
  .pre-commit-config.yaml
Due: none

Fix missing properties.
  VocabolariControllati/classifications-for-her/erc-panel-h2020-fp/erc-panel-h2020-fp.ttl
  VocabolariControllati/classifications-for-her/fields-of-research-development/fields-of-research-development.ttl
  VocabolariControllati/classifications-for-indicators/indicator-types/indicator-types.ttl
  VocabolariControllati/classifications-for-transparency/transparency-obligation/transparency-obligation.ttl
  VocabolariControllati/classifications-for-universities/italian-academic-roles/italian-academic-roles.ttl
Due: vocab-pyshacl

Update VocabolariControllati/classifications-for-her/erc-panel-h2020-fp/erc-panel-h2020-fp.ttl
  VocabolariControllati/classifications-for-her/erc-panel-h2020-fp/erc-panel-h2020-fp.ttl
Due: vocab-pyshacl

Fix missing properties in Onto and Vocabs (#176)
  VocabolariControllati/classifications-for-her/erc-panel-h2020-fp/erc-panel-h2020-fp.ttl
  VocabolariControllati/classifications-for-her/fields-of-research-development/fields-of-research-development.ttl
  VocabolariControllati/classifications-for-indicators/indicator-types/indicator-types.ttl
  VocabolariControllati/classifications-for-transparency/transparency-obligation/transparency-obligation.ttl
  VocabolariControllati/classifications-for-universities/italian-academic-roles/italian-academic-roles.ttl
Due: vocab-pyshacl

Revised controlled vocabulary public-services-subject-matters in order to respond to issue #177
  VocabolariControllati/classifications-for-public-services/public-services-subject-matters/README.md
  VocabolariControllati/classifications-for-public-services/public-services-subject-matters/public-services-subject-matters.csv
  VocabolariControllati/classifications-for-public-services/public-services-subject-matters/public-services-subject-matters.jsonld
  VocabolariControllati/classifications-for-public-services/public-services-subject-matters/public-services-subject-matters.rdf
  VocabolariControllati/classifications-for-public-services/public-services-subject-matters/public-services-subject-matters.ttl
  VocabolariControllati/classifications-for-public-services/public-services-subject-matters/public-services-subject-matters.xlsx
Due: vocab-pyshacl

Fix rightsHolder namespace in DCAT-AP_IT
  Ontologie/DCAT/latest/DCAT-AP_IT.jsonld
  Ontologie/DCAT/latest/DCAT-AP_IT.rdf
  Ontologie/DCAT/latest/DCAT-AP_IT.ttl
  Ontologie/DCAT/v2.0/DCAT-AP_IT.jsonld
  Ontologie/DCAT/v2.0/DCAT-AP_IT.rdf
  Ontologie/DCAT/v2.0/DCAT-AP_IT.ttl
Due: onto-pyshacl, onto-latest

Fix rightsHolder namespace in DCAT-AP_IT example text (#180)
  Ontologie/DCAT/latest/DCAT-AP_IT.jsonld
  Ontologie/DCAT/latest/DCAT-AP_IT.rdf
  Ontologie/DCAT/latest/DCAT-AP_IT.ttl
  Ontologie/DCAT/v2.0/DCAT-AP_IT.jsonld
  Ontologie/DCAT/v2.0/DCAT-AP_IT.rdf
  Ontologie/DCAT/v2.0/DCAT-AP_IT.ttl
Due: onto-pyshacl, onto-latest

Move transparency-obligation-organization to a separate folder
  VocabolariControllati/classifications-for-transparency/transparency-obligation-organization/transparency-obligation-administration-category.csv
  VocabolariControllati/classifications-for-transparency/transparency-obligation-organization/transparency-obligation-administration.csv
  VocabolariControllati/classifications-for-transparency/transparency-obligation-organization/transparency-obligation-organization.csv
  VocabolariControllati/classifications-for-transparency/transparency-obligation-organization/transparency-obligation-organization.jsonld
  VocabolariControllati/classifications-for-transparency/transparency-obligation-organization/transparency-obligation-organization.rdf
  VocabolariControllati/classifications-for-transparency/transparency-obligation-organization/transparency-obligation-organization.rml.ttl
  VocabolariControllati/classifications-for-transparency/transparency-obligation-organization/transparency-obligation-organization.ttl
  VocabolariControllati/classifications-for-transparency/transparency-obligation-organization/transparency-obligation-organization.xlsx
Due: vocab-pyshacl

Fix: #172. Invalid blank field terminates URI.
  VocabolariControllati/classifications-for-transparency/transparency-obligation/transparency-obligation-administration-category.csv
  VocabolariControllati/classifications-for-transparency/transparency-obligation/transparency-obligation-administration.csv
  VocabolariControllati/classifications-for-transparency/transparency-obligation/transparency-obligation-organization.jsonld
  VocabolariControllati/classifications-for-transparency/transparency-obligation/transparency-obligation-organization.rdf
  VocabolariControllati/classifications-for-transparency/transparency-obligation/transparency-obligation-organization.ttl
Due: vocab-pyshacl

Fix broken link. See #185.
  VocabolariControllati/classifications-for-culture/cultural-interest-places/cultural-interest-places.jsonld
  VocabolariControllati/classifications-for-culture/cultural-interest-places/cultural-interest-places.rdf
  VocabolariControllati/classifications-for-culture/cultural-interest-places/cultural-interest-places.ttl
Due: vocab-pyshacl

Fix: #185. Test broken urls.
  .github/workflows/test.yaml
  tests/test_urls.py
  tox.ini
Due: none

Revised English translations for transparency titulus controlled vocabulary - issue #184
  VocabolariControllati/classifications-for-transparency/transparency-titulus/README.md
  VocabolariControllati/classifications-for-transparency/transparency-titulus/transparency-titulus.csv
  VocabolariControllati/classifications-for-transparency/transparency-titulus/transparency-titulus.jsonld
  VocabolariControllati/classifications-for-transparency/transparency-titulus/transparency-titulus.rdf
  VocabolariControllati/classifications-for-transparency/transparency-titulus/transparency-titulus.ttl
  VocabolariControllati/classifications-for-transparency/transparency-titulus/transparency-titulus.xlsx
Due: vocab-pyshacl

Fix broken link. See #185. (#186)
  VocabolariControllati/classifications-for-culture/cultural-interest-places/cultural-interest-places.jsonld
  VocabolariControllati/classifications-for-culture/cultural-interest-places/cultural-interest-places.rdf
  VocabolariControllati/classifications-for-culture/cultural-interest-places/cultural-interest-places.ttl
Due: vocab-pyshacl

remove safety
  tox.ini
Due: none

Fix: #185. Test broken urls. (#187)
  .github/workflows/test.yaml
  tests/test_urls.py
  tox.ini
Due: none

Fix URL + tests
  .pre-commit-config.yaml
  VocabolariControllati/classifications-for-public-services/life-business-event/life-event/life-event.ttl
  tests/test_urls.py
  tox.ini
Due: vocab-pyshacl

Test PRs too.
  .github/workflows/ci-vocab.yaml
  .github/workflows/test.yaml
Due: none

Fix vocab + test
  .pre-commit-config.yaml
  VocabolariControllati/classifications-for-her/erc-panel-h2020-fp/erc-panel-h2020-fp.csv
  VocabolariControllati/classifications-for-organizations/ateco-2007/ateco-2007.csv
  VocabolariControllati/vocs-deprecated/public-event-types/public-event-types-alignment-schemaorg.csv
  tests/test_urls.py
  tox.ini
Due: none

quote field.
  VocabolariControllati/classifications-for-transparency/transparency-obligation/transparency-obligation-organization.csv
  VocabolariControllati/vocs-deprecated/public-event-types/public-event-types-alignment-schemaorg.csv
Due: none

add datapackage
  VocabolariControllati/classifications-for-organizations/ateco-2007/datapackage.json
  VocabolariControllati/classifications-for-transparency/transparency-obligation/datapackage.json
Due: none

fix vocabs
  VocabolariControllati/classifications-for-transparency/transparency-obligation/datapackage.json
  VocabolariControllati/classifications-for-transparency/transparency-obligation/datapackage.yaml
Due: none

revert quoting
  CONTRIBUTING.md
  VocabolariControllati/classifications-for-organizations/ateco-2007/ateco-2007.csv
  VocabolariControllati/classifications-for-transparency/transparency-obligation/transparency-obligation-organization.csv
Due: none

Fixes false positives in csv checks (#196)
  .pre-commit-config.yaml
  CONTRIBUTING.md
  VocabolariControllati/classifications-for-her/erc-panel-h2020-fp/erc-panel-h2020-fp.csv
  VocabolariControllati/classifications-for-organizations/ateco-2007/datapackage.json
  VocabolariControllati/classifications-for-transparency/transparency-obligation/datapackage.yaml
  tests/test_urls.py
  tox.ini
Due: none

Only one worker.
  tox.ini
Due: none

Fix URL + tests
  VocabolariControllati/classifications-for-public-services/life-business-event/life-event/life-event.ttl
  tests/test_urls.py
  tox.ini
Due: vocab-pyshacl
