Repository italia/daf-ontologie-vocabolari-controllati: changes, and which pre-commit hooks are due for each by the changed paths.
All: jsonschema, onto-pyshacl, onto-latest, vocab-pyshacl

.pre-commit-config.yaml:

#
# Run pre-commit hooks. You can run them without installing
#  the hook with
#
# $ pre-commit run --all-files
#
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    # -   id: trailing-whitespace
    # -   id: end-of-file-fixer
    -   id: check-yaml
        args: [--allow-multiple-documents]
    -   id: check-added-large-files
        args:
        - "--maxkb=4000"
- repo: https://github.com/myint/autoflake
  rev: v1.4
  hooks:
    - id: autoflake
      args:
        - --in-place
        - --remove-unused-variables
        - --remove-all-unused-imports
-   repo: https://github.com/psf/black
    rev: 21.12b0
    hooks:
    -   id: black
- repo: https://github.com/pycqa/isort
  rev: 5.10.1
  hooks:
    - id: isort
      name: isort (python)
      # Use black profile for isort to avoid conflicts
      #   see https://github.com/PyCQA/isort/issues/1518
      args: ["--profile", "black"]
    - id: isort
      name: isort (cython)
      types: [cython]
    - id: isort
      name: isort (pyi)
      types: [pyi]
- repo: https://gitlab.com/pycqa/flake8
  rev: 3.9.2
  hooks:
  - id: flake8
- repo: https://github.com/Lucas-C/pre-commit-hooks-safety
  rev: v1.2.2
  hooks:
    - id: python-safety-dependencies-check
- repo: local
  hooks:
  - id: jsonschema
    name: jsonschema
    entry: python -m dati_playground validate --validate-jsonschema=true
    files: '.*\.schema.yaml'
    language: python
    types:
    - file
    additional_dependencies:
    - git+https://github.com/ioggstream/json-semantic-playground.git
  - id: onto-pyshacl
    name: pyshacl ontologies
    entry: python -m dati_playground validate --validate-shacl=true
    files: >-
      ^Ontologie\/[^/]+\/latest/.*\.ttl
    types:
    - file
    language: python
    additional_dependencies:
    - git+https://github.com/ioggstream/json-semantic-playground.git
  - id: onto-latest
    name: Ontologies latest validator
    entry: python -m dati_playground validate --validate-versioned-directory=true
    files: >-
      ^Ontologie\/.*\.ttl
    language: python
    types:
    - file
    additional_dependencies:
    - git+https://github.com/ioggstream/json-semantic-playground.git
  - id: vocab-pyshacl
    name: pyshacl vocabularies
    entry: python -m dati_playground validate --validate-shacl=true
    files:
      ^VocabolariControllati\/.*\.ttl
    language: python
    types:
    - file
    additional_dependencies:
    - git+https://github.com/ioggstream/json-semantic-playground.git

Use master
  .github/workflows/ci-onto.yaml
  .github/workflows/ci-vocab.yaml
Due: none

Checks. See #101. (#150)
  .github/workflows/ci-onto.yaml
  .github/workflows/ci-vocab.yaml
  .gitignore
  .pre-commit-config.yaml
Due: none

fix gh-action
  .github/workflows/ci-onto.yaml
Due: none

fix typo
  .github/workflows/ci-onto.yaml
Due: none

Add missing files.
  Ontologie/NDC/0.1/NDC-AP_IT.rdf
  Ontologie/NDC/0.1/NDC-AP_IT.ttl
  Ontologie/NDC/latest/NDC-AP_IT.jsonld
  Ontologie/NDC/latest/NDC-AP_IT.rdf
Due: onto-latest

remove checks
  .pre-commit-config.yaml
Due: none

fix NDC serialization
  Ontologie/NDC/0.1/NDC-AP_IT.jsonld
  Ontologie/NDC/0.1/NDC-AP_IT.rdf
  Ontologie/NDC/latest/NDC-AP_IT.rdf
Due: none

fix NDC serialization (#154)
  Ontologie/NDC/0.1/NDC-AP_IT.jsonld
  Ontologie/NDC/0.1/NDC-AP_IT.rdf
  Ontologie/NDC/latest/NDC-AP_IT.rdf
Due: none

Ease rdf/owl serialization.
  Ontologie/NDC/0.1/NDC-AP_IT.jsonld
  Ontologie/NDC/0.1/NDC-AP_IT.rdf
  Ontologie/NDC/latest/NDC-AP_IT.jsonld
  Ontologie/NDC/latest/NDC-AP_IT.rdf
Due: none

Ease rdf/owl serialization. (#156)
  Ontologie/NDC/0.1/NDC-AP_IT.jsonld
  Ontologie/NDC/0.1/NDC-AP_IT.rdf
  Ontologie/NDC/latest/NDC-AP_IT.jsonld
  Ontologie/NDC/latest/NDC-AP_IT.rdf
Due: none

Add CLV dct:identifier
  Ontologie/CLV/latest/CLV-AP_IT.ttl
  Ontologie/CLV/v1.0/CLV-AP_IT.ttl
Due: onto-pyshacl, onto-latest

Update related files.
  Ontologie/CLV/latest/CLV-AP_IT.jsonld
  Ontologie/CLV/latest/CLV-AP_IT.rdf
  Ontologie/CLV/latest/CLV-DBGT-AP_IT.jsonld
  Ontologie/CLV/latest/CLV-DBGT-AP_IT.rdf
  Ontologie/CLV/latest/CLV-aligns-AP_IT.jsonld
  Ontologie/CLV/latest/CLV-aligns-AP_IT.rdf
  Ontologie/CLV/v1.0/CLV-AP_IT.jsonld
  Ontologie/CLV/v1.0/CLV-AP_IT.rdf
  Ontologie/CLV/v1.0/CLV-DBGT-AP_IT.jsonld
  Ontologie/CLV/v1.0/CLV-DBGT-AP_IT.rdf
  Ontologie/CLV/v1.0/CLV-DBGT-AP_IT.ttl
  Ontologie/CLV/v1.0/CLV-aligns-AP_IT.jsonld
  Ontologie/CLV/v1.0/CLV-aligns-AP_IT.rdf
Due: onto-latest

revert DBGT/aligns
  Ontologie/CLV/latest/CLV-DBGT-AP_IT.jsonld
  Ontologie/CLV/latest/CLV-DBGT-AP_IT.rdf
  Ontologie/CLV/latest/CLV-aligns-AP_IT.jsonld
  Ontologie/CLV/latest/CLV-aligns-AP_IT.rdf
  Ontologie/CLV/v1.0/CLV-DBGT-AP_IT.jsonld
  Ontologie/CLV/v1.0/CLV-DBGT-AP_IT.rdf
  Ontologie/CLV/v1.0/CLV-aligns-AP_IT.jsonld
Due: none

Add CLV dct:identifier (#155)
  Ontologie/CLV/latest/CLV-AP_IT.jsonld
  Ontologie/CLV/latest/CLV-AP_IT.rdf
  Ontologie/CLV/latest/CLV-AP_IT.ttl
  Ontologie/CLV/v1.0/CLV-AP_IT.jsonld
  Ontologie/CLV/v1.0/CLV-AP_IT.rdf
  Ontologie/CLV/v1.0/CLV-AP_IT.ttl
  Ontologie/CLV/v1.0/CLV-DBGT-AP_IT.ttl
  Ontologie/CLV/v1.0/CLV-aligns-AP_IT.rdf
Due: onto-pyshacl, onto-latest

Validate ontologies and vocabularies rdf.
  .pre-commit-config.yaml
  Ontologie/rules.shacl
  VocabolariControllati/rules.shacl
Due: none

Update documents-titulus.ttl
  VocabolariControllati/classifications-for-universities/documents-titulus/documents-titulus.ttl
Due: vocab-pyshacl

Update documents-titulus.rdf
  VocabolariControllati/classifications-for-universities/documents-titulus/documents-titulus.rdf
Due: none

Update documents-titulus.jsonld
  VocabolariControllati/classifications-for-universities/documents-titulus/documents-titulus.jsonld
Due: none

Update documents-titulus.ttl (#159)
  VocabolariControllati/classifications-for-universities/documents-titulus/documents-titulus.ttl
Due: vocab-pyshacl

Update documents-titulus.jsonld (#161)
  VocabolariControllati/classifications-for-universities/documents-titulus/documents-titulus.jsonld
  VocabolariControllati/classifications-for-universities/documents-titulus/documents-titulus.rdf
Due: none

Update Route-AP_IT.ttl
  Ontologie/Route/latest/Route-AP_IT.ttl
Due: onto-pyshacl, onto-latest

Update Route-AP_IT.rdf
  Ontologie/Route/latest/Route-AP_IT.rdf
Due: none

Update Route-AP_IT.jsonld
  Ontologie/Route/latest/Route-AP_IT.jsonld
Due: none

Update Route-AP_IT.ttl
  Ontologie/Route/v0.2/Route-AP_IT.ttl
Due: onto-latest

Update Route-AP_IT.rdf
  Ontologie/Route/v0.2/Route-AP_IT.rdf
Due: none

Update Route-AP_IT.jsonld
  Ontologie/Route/v0.2/Route-AP_IT.jsonld
Due: none

skip DCAT-AP.
  .pre-commit-config.yaml
  Ontologie/DCAT/rules.shacl
  Ontologie/rules.shacl
Due: none

Sync latest/
  Ontologie/Route/latest/Route-AP_IT.jsonld
  Ontologie/Route/latest/Route-AP_IT.rdf
Due: none

Update Route-AP_IT.ttl (#163)
  Ontologie/Route/latest/Route-AP_IT.jsonld
  Ontologie/Route/latest/Route-AP_IT.rdf
  Ontologie/Route/latest/Route-AP_IT.ttl
  Ontologie/Route/v0.2/Route-AP_IT.jsonld
  Ontologie/Route/v0.2/Route-AP_IT.rdf
  Ontologie/Route/v0.2/Route-AP_IT.ttl
Due: onto-pyshacl, onto-latest

Fix typos/diffs with latest/
  Ontologie/CPSV/v1.1/CPSV-aligns-AP_IT.ttl
  Ontologie/CulturalHeritage/v0.1/CulturalHeritage-AP_IT.ttl
  Ontologie/POT/v0.3/POT-AP_IT.ttl
  Ontologie/SM/v0.7/SM-AP_IT.ttl
  Ontologie/Transparency/v0.2/Transparency-AP_IT.ttl
  Ontologie/Transparency/v0.2/Transparency-aligns-AP_IT.ttl
Due: onto-latest

further aligns.
  Ontologie/CPEV/v0.4/CPEV-aligns-AP_IT.ttl
  Ontologie/POT/v0.3/POT-AP_IT.ttl
Due: onto-latest

revert aligns
  Ontologie/CPEV/v0.4/CPEV-aligns-AP_IT.ttl
  Ontologie/CPSV/v1.1/CPSV-aligns-AP_IT.ttl
  Ontologie/Transparency/v0.2/Transparency-aligns-AP_IT.ttl
Due: onto-latest
